@import "base.less";
@import "lib.less";
@import "pygments.less";
html {
    width: 100%;
    body {
        text-align: center;
        header {
            background-color: #252525;
            .header{
                .logo {
                    font-family: 'Economica', sans-serif;
                    font-weight: bold;
                    font-size: 30px;
                }
                .ft-left;
                margin: 0 auto;
                height: 30px;
                padding: 15px;
                line-height: 30px;
                span {
                    a {
                        color: #ffd700;
                        text-decoration: none;
                    }
                }
                form {
                    .fn-right;
                    margin-top: -35px;
                    input[type='search']{
                        height: 20px;
                        font-size: 16px;
                        vertical-align: baseline;
                        width: 200px;
                        margin-right: 50px;
                        border: 1px solid #dadada;
                        background-color: rgba(238, 238, 238, 0.9);
                        border-radius: 6px;
                        box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.12);
                        outline: 0 none;
                        padding: 5px 8px;
                        color: #333;
                        &:focus {
                            background-color: rgba(255, 255, 255, 0.9);
                        }
                    }
                }
            }
        }
        #wrap {
            margin: 30px auto 80px;
            aside {
                width: 150px;
                height: auto;
                background-color: #575D60;
                color: rgba(238,255,255,0.8);
                border-radius: 0 6px 6px 0;
                position: fixed;
                left: 0;
                top: 90px;
                padding: 10px 0;
                ul { 
                    width: 120px;
                    .ft-left;
                    li {
                        border-radius: 0 3px 3px 0;
                        cursor: pointer;
                        margin: 3px 0;
                        padding: 3px 15px 3px 10px;
                        &:hover {
                            background-color: rgba(238,238,238,0.3);
                            color: rgba(238,238,238,0.8);
                        }
                        a {
                            color: #eee;
                            text-decoration: none;
                            &:hover {
                                .opacity(0.8);
                            }
                        }
                    }
                }
            }
                section {
                    margin-left: 150px;
                    .ft-left;
                    div.container {
                        margin-left: 30px;
                        max-width: 900px;
                        margin-right: 10px;
                        display: inline-block;
                        vertical-align: top;
                        article {
                            max-width: 800px;
                            background-color: white;
                            border-radius: 6px;
                            margin-bottom: 20px;
                            padding: 15px;
                            text-shadow: 1px 1px 1px #fff;
                            color: black;
                            h3 a { 
                                font-size: 24px;
                                color: #8b0000;
                            }
                            .meta {
                                margin: 10px 0;
                                color: #c0c0c0;
                                border-bottom: 1px solid #eee;
                            }
                            .content {
                                h1, * h1, h2, * h2 {
                                    font-size: 20px;
                                }
                                h3, * h3, h3, * h3 {
                                    font-size: 16px;
                                }
                                p {
                                    margin-bottom: 15px;
                                }
                                pre {
                                    border: 1px dashed #ddd;
                                    padding: 10px;
                                    margin: 10px auto;
                                }
                                * * {
                                    max-width: 900px;
                                }
                                li {
                                    list-style-type: square;
                                    margin-left: 15px;
                                }
                            }
                        }
                    }
                    .elevator-container {
                        .transition(margin 0.4s ease-in-out);
                        position: fixed;
                        max-height: 200px;
                        max-width: 284px;
                        overflow: auto;
                        right: 0;
                        bottom: 0;
                        background-color: white;
                        border-radius: 5px 0 0 5px;
                        padding: 10px 0;
                        .elevator {
                            li {
                                padding: 0px 10px;
                                font-size: 14px;
                                a {
                                    color: #c0c0c0;
                                }
                                &.ele-current {
                                    background-color: rgba(220,220,220,0.8);
                                    a {
                                        color: #8b0000;
                                    }
                                }
                            }
                        }
                    }
                }
            } 
            #footer {
                .transition(margin 0.4s ease-in-out);
                position: fixed;
                bottom: 0;
                left: 0;
                width: 100%;
                background: #fff;
                border-top: 1px solid #dadada;
                clear: both;
                font-size: 12px;
                font-family: 'Ribeye Marrow', cursive;
                color: #777;
                padding: 16px 0 10px;
                margin-bottom: -60px;
                .ft-center;
                .copyright {
                    margin: 0 auto;
                    .ft-left;
                    max-width: 1000px;
                    a {
                        color: black;
                        &:hover{
                            color: #8b0000;
                        }
                    }
                }
            }
        }
    }


// for animation

#footer.show {
    margin-bottom: 0;
}
.elevator-container.show {
    margin-bottom: 60px;
}
