@import "base.less";
@import "lib.less";
html {
    width: 100%;
    background-image: url(../images/background.png);
    body {
        text-align: center;
        header {
            background-color: #252525;
            .header{
                .logo {
                    .transition(all 0.4s ease-in-out);
                    font-family: 'Economica', sans-serif;
                    font-weight: bold;
                    font-size: 30px;
                }
                .ft-left;
                margin: 0 auto;
                height: 30px;
                padding: 15px;
                line-height: 30px;
                span {
                    a {
                        color: #ffd700;
                        text-decoration: none;
                    }
                }
                form {
                    .fn-right;
                    input[type='search']{
                        .transition(background 0.4s ease-in-out);
                        height: 20px;
                        font-size: 16px;
                        vertical-align: baseline;
                        width: 200px;
                        margin-right: 50px;
                        border: 1px solid #dadada;
                        background-color: rgba(238, 238, 238, 0.9);
                        border-radius: 6px;
                        box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.12);
                        outline: 0 none;
                        padding: 5px 8px;
                        color: #333;
                        &:focus {
                            background-color: rgba(255, 255, 255, 0.9);
                        }
                    }
                }
            }
        }
        #wrap {
            margin: 30px auto 80px;
            aside {
                .transition(all 0.4s ease-in-out);
                width: 150px;
                background-color: #575D60;
                color: rgba(238,255,255,0.8);
                border-radius: 0 6px 6px 0;
                position: fixed;
                left: 0;
                top: 90px;
                padding: 10px 0;
                ul { 
                    width: 120px;
                    .ft-left;
                    li {
                        border-radius: 0 3px 3px 0;
                        cursor: pointer;
                        margin: 3px 0;
                        padding: 3px 15px 3px 10px;
                        &:hover{
                            background-color: rgba(238,238,238,0.3);
                            color: rgba(238,238,238,0.8);
                        }
                        a {
                            color: #eee;
                            text-decoration: none;
                            &:hover {
                                .opacity(0.8);
                            }
                        }
                    }
                }
                .sidebar-toggle {
                    color: rgba(238,238,238,0.8);
                    position: absolute;
                    right: 0;
                    top: 0;
                    display: block;
                    width: 20px;
                    height: 100%;
                    cursor: pointer;
                    font-size: 16px;
                    &:hover {
                        background: rgba(238,238,238,0.3);
                        text-decoration:none;
                    }
                    .table {
                        display:table;
                        height: 100%;
                        width: 20px;
                        .cell {
                            display: table-cell;
                            vertical-align: middle;
                            }
                        }
                    }
                }
                section {
                    margin-left: 180px;
                    .transition(margin 0.4s ease-in-out);
                    div.container {
                        .ft-left;
                        .column {
                            width: 300;
                            margin-right: 10px;
                            display: inline-block;
                            vertical-align: top;
                            background-position: 0 -20px;
                            article {
                                width: 300px;
                                background-color: #eee;
                                border-radius: 6px;
                                margin-bottom: 20px;
                                padding: 5px;
                                color: #333631;
                                text-shadow: 1px 1px 1px #fff;
                                h3 a { 
                                    font-size: 16px;
                                    color: #8b0000;
                                }
                                & * a {
                                    color: #333631;
                                }
                                .meta {
                                    color: #708090;
                                }
                                .content {
                                    * * {
                                        max-width: 300px;
                                    }
                                }
                            }
                        }
                    }
                    .single-article {
                        max-width: 1000px;
                        background-color: #eee;
                        padding: 20px 30px 10px 30px;
                        border-radius: 3px;
                        border: 1px solid #dadada;
                        color: #696969;
                        a {
                            color: #369;
                            .opacity(0.9);
                            text-decoration: none;
                            &:hover{
                                .opacity(1);
                            }
                        }
                        .ft-left;
                        .single-title {
                            font-size: 26px;
                            a {
                                color: #8b0000;
                            }
                        }
                        .single-content {
                            margin-top: 15px;
                            * * {
                                max-width: 900px;
                            }
                            p {
                                margin-top: 8px;
                                font-size: 13px;
                            }
                        }
                        .toolbar {
                            border-radius: 3px;
                            margin-top: 20px;
                            max-width: 900px;
                            border-top: 1px solid #dadada;
                            padding-top: 13px;
                            span {
                                display: inline-block;
                                a {
                                    display: inline-block;
                                    border-radius: 3px;
                                    text-decoration: none;
                                    color: #d3d3d3;
                                    padding: 3px 6px;
                                    font-size: 12px;
                                    background: #f8f8ff;
                                    &:hover {
                                        color: #696969;
                                    }
                                }
                            }
                        }
                    }
                }
            } 
            #footer {
                .transition(margin 0.4s ease-in-out);
                position: fixed;
                bottom: 0;
                left: 0;
                width: 100%;
                background: #fff;
                border-top: 1px solid #dadada;
                clear: both;
                font-size: 12px;
                font-family: 'Ribeye Marrow', cursive;
                color: #777;
                padding: 16px 0 10px;
                margin-bottom: -60px;
                .ft-center;
                .copyright {
                    margin: 0 auto;
                    .ft-left;
                    max-width: 1000px;
                    a {
                        color: black;
                        &:hover{
                            color: #8b0000;
                        }
                    }
                }
            }
        }
    }

// for animation
.expanded #aside {
    left: -130px;
}
.expanded .header .logo {
    margin-left: 50px;
}
.expanded #section {
    margin-left: 65px;
}
#footer.show {
    margin-bottom: 0;
}
