html{color:#000;background:#eee;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{margin:0;padding:0;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}
body,button,input,select,textarea{font:12px/1.5 tahoma,arial,"\5b8b\4f53";}
form{margin:0;}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em;}
legend{border:0;*margin-left:-7px;}
button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline;*vertical-align:middle;}
button,input{line-height:normal;}
button,input[type="button"],input[type="reset"],input[type="submit"]{cursor:pointer;-webkit-appearance:button;*overflow:visible;}
input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;}
input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}
input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}
textarea{overflow:auto;vertical-align:top;}
input,select,textarea{font-size:100%;}
table{border-collapse:collapse;border-spacing:0;}
th{text-align:inherit;}
fieldset,img{border:0;}
iframe{display:block;}
abbr,acronym{border:0;font-variant:normal;}
del{text-decoration:line-through;}
address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:500;}
ol,ul{list-style:none;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:500;}
q:before,q:after{content:'';}
sup{vertical-align:text-top;}
sub{vertical-align:text-bottom;}
a:hover{text-decoration:underline;}
ins,a{text-decoration:none;}
.fn-clear:after{visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}
.fn-clear{zoom:1;}
body .fn-hide{display:none;}
.fn-left,.fn-right{display:inline;}
.fn-left{float:left;}
.fn-right{float:right;}
.fn-center{margin:0 auto;}
.ft-center{text-align:center;}
.ft-left{text-align:left;}
.ft-right{text-align:right;}
::selection{background:#cc3300;color:#fff;text-shadow:none;}
.c,.cm,.c1{color:#0e6081;font-style:italic;}
.err{color:#a61717;background-color:#e3d2d2;}
.k{font-weight:bold;color:blue;}
.o{font-weight:bold;}
.cp{color:#999;font-weight:bold;}
.cs{color:#999;font-weight:bold;font-style:italic;}
.gd{color:#000;background-color:#ffdddd;}
.gd .x{color:#000;background-color:#ffaaaa;}
.ge{font-style:italic;}
.gr{color:#aa0000;}
.gh{color:#999999;}
.gi{color:#000;background-color:#ddffdd;}
.gi .x{color:#000;background-color:#aaffaa;}
.go{color:#888888;}
.gp{color:#555555;}
.gs{font-weight:bold;}
.gu{color:#aaaaaa;}
.gt{color:#aa0000;}
.kc{font-weight:bold;}
.kd{font-weight:bold;}
.kp{font-weight:bold;}
.kr{font-weight:bold;}
.kt{color:#445588;font-weight:bold;}
.m{color:#009999;}
.s{color:#dd1144;}
.na{color:#008080;}
.nb{color:#0086b3;}
.nc{color:#445588;font-weight:bold;}
.no{color:#008080;}
.ni{color:#800080;}
.ne{color:#900;font-weight:bold;}
.nx{color:#900;font-weight:bold;}
.nn{color:#555555;}
.nt{color:#000080;}
.nv{color:#008080;}
.ow{font-weight:bold;}
.w{color:#bbbbbb;}
.mf{color:#009999;}
.mh{color:#009999;}
.mi{color:#009999;}
.mo{color:#009999;}
.sb{color:#dd1144;}
.sc{color:#dd1144;}
.sd{color:#dd1144;}
.s2{color:#dd1144;}
.se{color:#dd1144;}
.sh{color:#dd1144;}
.si{color:#dd1144;}
.sx{color:#dd1144;}
.sr{color:#009926;}
.s1{color:#dd1144;}
.ss{color:#990073;}
.bp{color:#3f7700;}
.vc{color:#008080;}
.vg{color:#008080;}
.vi{color:#008080;}
.il{color:#009999;}
html{width:100%;}html body{text-align:center;}html body header{background-color:#252525;}html body header .header{text-align:left;margin:0 auto;height:30px;padding:15px;line-height:30px;}html body header .header .logo{font-family:'Economica',sans-serif;font-weight:bold;font-size:30px;}
html body header .header span a{color:#ffd700;text-decoration:none;}
html body header .header form{display:inline;float:right;}html body header .header form input[type='search']{height:20px;font-size:16px;vertical-align:baseline;width:200px;margin-right:50px;border:1px solid #dadada;background-color:rgba(238, 238, 238, 0.9);border-radius:6px;box-shadow:inset 0 1px 2px rgba(0, 0, 0, 0.12);outline:0 none;padding:5px 8px;color:#333;}html body header .header form input[type='search']:focus{background-color:rgba(255, 255, 255, 0.9);}
html body #wrap{margin:30px auto 80px;}html body #wrap aside{width:150px;height:auto;background-color:#575D60;color:rgba(238, 255, 255, 0.8);border-radius:0 6px 6px 0;position:fixed;left:0;top:90px;padding:10px 0;}html body #wrap aside ul{width:120px;text-align:left;}html body #wrap aside ul li{border-radius:0 3px 3px 0;cursor:pointer;margin:3px 0;padding:3px 15px 3px 10px;}html body #wrap aside ul li:hover{background-color:rgba(238, 238, 238, 0.3);color:rgba(238, 238, 238, 0.8);}
html body #wrap aside ul li a{color:#eee;text-decoration:none;}html body #wrap aside ul li a:hover{filter:alpha(opacity=80);opacity:0.8;}
html body #wrap section{margin-left:150px;text-align:left;}html body #wrap section div.container{margin-left:30px;max-width:900px;margin-right:10px;display:inline-block;vertical-align:top;}html body #wrap section div.container article{max-width:800px;background-color:white;border-radius:6px;margin-bottom:20px;padding:15px;text-shadow:1px 1px 1px #fff;color:black;}html body #wrap section div.container article h3 a{font-size:24px;color:#8b0000;}
html body #wrap section div.container article .meta{margin:10px 0;color:#c0c0c0;border-bottom:1px solid #eee;}
html body #wrap section div.container article .content h1{font-size:16px;font-weight:bold;}
html body #wrap section div.container article .content p{margin-bottom:15px;}
html body #wrap section div.container article .content a{color:#369;}html body #wrap section div.container article .content a:link,html body #wrap section div.container article .content a:visited,html body #wrap section div.container article .content a:hover,html body #wrap section div.container article .content a:active{color:#369;}
html body #wrap section div.container article .content .code .highlight{border:1px dashed #ddd;padding:10px;}
html body #wrap section div.container article .content * *{max-width:9000px;}
html body #wrap section .elevator-container{-webkit-transition:margin 0.4s ease-in-out;-moz-transition:margin 0.4s ease-in-out;-ms-transition:margin 0.4s ease-in-out;-o-transition:margin 0.4s ease-in-out;transition:margin 0.4s ease-in-out;position:fixed;max-height:200px;overflow:auto;right:0;bottom:0;background-color:white;border-radius:5px 0 0 5px;padding:10px 0;}html body #wrap section .elevator-container .elevator li{padding:0px 10px;font-size:14px;}html body #wrap section .elevator-container .elevator li a{color:#c0c0c0;}
html body #wrap section .elevator-container .elevator li.ele-current{background-color:rgba(220, 220, 220, 0.8);}html body #wrap section .elevator-container .elevator li.ele-current a{color:#8b0000;}
html body #footer{-webkit-transition:margin 0.4s ease-in-out;-moz-transition:margin 0.4s ease-in-out;-ms-transition:margin 0.4s ease-in-out;-o-transition:margin 0.4s ease-in-out;transition:margin 0.4s ease-in-out;position:fixed;bottom:0;left:0;width:100%;background:#fff;border-top:1px solid #dadada;clear:both;font-size:12px;font-family:'Ribeye Marrow',cursive;color:#777;padding:16px 0 10px;margin-bottom:-60px;text-align:center;}html body #footer .copyright{margin:0 auto;text-align:left;max-width:1000px;}html body #footer .copyright a{color:black;}html body #footer .copyright a:hover{color:#8b0000;}
#footer.show{margin-bottom:0;}
.elevator-container.show{margin-bottom:60px;}
